<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <form #ref="ngForm" (ngSubmit)="marksof(ref.value)">
      <div class="form-group">
        <label for="">Student rollnumber :</label>
        <input type="text" name="rollno" class="form-control" ngModel #ref1="ngModel" required>
        <label *ngIf="ref1.invalid && ref1.touched">
          <div class="text-danger">*rollnumber is manadatory</div>
        </label>
      </div>
      <div class="form-group">
        <label>Subject :</label>
        <input type="text" name="subject" class="form-control" ngModel #ref2="ngModel" required>
        <label *ngIf="ref2.invalid && ref2.touched">
          <div class="text-danger">*subject is manadatory</div>
        </label>
      </div>
      <div class="form-group">
        <label>Marks aquired:</label>
        <input type="text" name="marks" class="form-control" ngModel #ref3="ngModel" required>
        <label *ngIf="ref3.invalid && ref3.touched">
          <div class="text-danger">*marks are manadatory</div>
        </label>
      </div>
      <div class="form-group">
        <label>Total marks:</label>
        <input type="text" name="totalmarks" class="form-control" ngModel #ref4="ngModel" required>
        <label *ngIf="ref4.invalid && ref4.touched">
          <div class="text-danger">*total marks are manadatory</div>
        </label>
      </div>
      <div class="form-group">
        <label>Grade :</label>
        <input type="text" name="grade" class="form-control" ngModel #ref5="ngModel" required>
        <label *ngIf="ref5.invalid && ref5.touched">
          <div class="text-danger">*grade is manadatory</div>
        </label>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Post</button></div>
    </form>
    <div *ngIf="b">
      <form #ref="ngForm" (ngSubmit)="onsubmit(ref.value)">
        <div>
          <label>change rollno</label>
          <input type="text" name="rollno" class="form-control" [value]="objecttomodify.rollno"
            [(ngModel)]=objecttomodify.rollno>
        </div>
        <div>
          <label>subject</label>
          <input type="text" name="subject" class="form-control" [value]="objecttomodify.subject"
            [(ngModel)]=objecttomodify.subject>
        </div>
        <div>
          <label>marks aquired</label>
          <input type="text" name="marks" class="form-control" [value]="objecttomodify.marks"
            [(ngModel)]=objecttomodify.marks>
        </div>
        <div>
          <label>total marks</label>
          <input type="text" name="totalmarks" class="form-control" [value]="objecttomodify.totalmarks"
            [(ngModel)]=objecttomodify.totalmarks>
        </div>
        <div>
          <label>grade</label>
          <input type="text" name="grade" class="form-control" [value]="objecttomodify.grade"
            [(ngModel)]=objecttomodify.grade>
        </div>
        <div class="text-center"><button type="submit" class="btn btn-primary mt-3">save</button></div>
      </form>
    </div>
  </div>

</div>
<div class="text-center mt-2"><input type="text" name="search" placeholder="search_by_rollnumber"
    [(ngModel)]="searchterm"></div>
<div class="row">
  <div class="col-sm-12 table table-responsive">
    <table class="table mt-2">
      <thead>
        <th>roll no</th>
        <th>subject</th>
        <th>marks</th>
        <th>totalmarks</th>
        <th>grade</th>
      </thead>
      <tr *ngFor="let mark of marks | search:searchterm">
        <td>{{mark.rollno}}</td>
        <td>{{mark.subject}}</td>
        <td>{{mark.marks}}</td>
        <td>{{mark.totalmarks}}</td>
        <td>{{mark.grade}}</td>
        <td><button (click)="deleterecord(mark.rollno)" class="btn btn-danger">delete</button>
          <button (click)="editdata(mark)" class="btn btn-success">edit</button></td>
      </tr>
    </table>
  </div>
</div>