<div class="row">
    <div class="col-sm-12">
        <ul *ngFor="let value of data">
            <li class="nav-link"><b>Rollno :</b>{{value.rollno}}</li>
            <pre style=" display: flex"><li class="nav-link">{{value.letter}}</li></pre>
            <div class="row">
                <div class="col-md-4">
                    <li class="nav-link"><b>from</b>: {{value.from}}</li>
                </div>
                <div class="col-md-4">
                    <li class="nav-link"><b>to</b>: {{value.to}}</li>
                </div>
                <div class="col-md-4">
                    <li class="nav-link"><b>totaldays: </b>{{value.totaldays}}</li>
                </div>
            </div>
            <div class="text-center"><button class="btn btn-primary mr-2" (click)="accept(value.rollno)">accept</button>
                <button class="btn btn-danger" (click)="rejectbutton()">reject</button></div>
            <div *ngIf=b>
                <form #ref="ngForm" (ngSubmit)="reject((ref.value),(value.rollno))">
                    <div class="form-group">
                        <label>Reason for rejection :</label>
                        <input type="text" name="reason" class="form-control" ngModel>
                        <div class="text-center mt-2"><button type="submit" class="btn btn-primary">send</button></div>
                    </div>
                </form>
            </div>
        </ul>

    </div>
</div>