<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <form #ref="ngForm" (ngSubmit)="feestatus(ref.value)">
        <div class="form-group">
          <label for="">Student rollno :</label>
          <input type="text" name="rollno" class="form-control" ngModel #ref1="ngModel" required>
          <label *ngIf="ref1.invalid && ref1.touched">
            <div class="text-danger">*rollnumber is manadatory</div>
          </label>
        </div>
        <div class="form-group">
          <label>Total fee :</label>
          <input type="text" name="totalfee" class="form-control" ngModel #ref2="ngModel" required>
          <label *ngIf="ref2.invalid && ref2.touched">
            <div class="text-danger">*total fee is manadatory</div>
          </label>
        </div>
        <div class="form-group">
          <label>Fee paid :</label>
          <input type="text" name="feepaid" class="form-control" ngModel #ref3="ngModel" required>
          <label *ngIf="ref3.invalid && ref3.touched">
            <div class="text-danger">*fee paid is manadatory</div>
          </label>
        </div>
        <div class="form-group">
          <label>Pending fee :</label>
          <input type="text" name="pending" class="form-control" ngModel #ref4="ngModel" required>
          <label *ngIf="ref4.invalid && ref4.touched">
            <div class="text-danger">*pending is manadatory</div>
          </label>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Post</button></div>
      </form>
      <div *ngIf="b">
        <form #ref="ngForm" (ngSubmit)="onsubmit(ref.value)">
          <div>
            <label>change rollno</label>
            <input type="text" name="rollno" class="form-control" [value]="objecttomodify.rollno"
              [(ngModel)]=objecttomodify.rollno>
          </div>
          <div>
            <label>totalfee</label>
            <input type="text" name="totalfee" class="form-control" [value]="objecttomodify.totalfee"
              [(ngModel)]=objecttomodify.totalfee>
          </div>
          <div>
            <label>feepaid</label>
            <input type="text" name="feepaid" class="form-control" [value]="objecttomodify.feepaid"
              [(ngModel)]=objecttomodify.feepaid>
          </div>
          <div>
            <label>feepending</label>
            <input type="text" name="Pending" class="form-control" [value]="objecttomodify.pending"
              [(ngModel)]=objecttomodify.pending>
          </div>
          <div class="text-center"><button type="submit" class="btn btn-primary mt-3">save</button></div>
        </form>
      </div>


      <div class="text-center mt-2"><input type="text" name="search" placeholder="search_by_rollnumber"
          [(ngModel)]="searchterm"></div>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 table table-responsive">
      <table class="table mt-2">
        <thead>
          <th>roll no</th>
          <th>totalfee</th>
          <th>feepaid</th>
          <th>feepending</th>
        </thead>
        <tr *ngFor="let fees of fee | search:searchterm">
          <td>{{fees.rollno}}</td>
          <td>{{fees.totalfee}}</td>
          <td>{{fees.feepaid}}</td>
          <td>{{fees.pending}}</td>
          <button (click)="deleterecord(fees.rollno)" class="btn btn-danger">delete</button>
          <button (click)="editdata(fees)" class="btn btn-success">edit</button>
        </tr>
      </table>
    </div>
  </div>
</div>