<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <form #ref="ngForm" (ngSubmit)="addstudents(ref.value)">
      <div class="form-group">
        <label>Roll number</label>
        <input type="text" name="rollno" class="form-control" ngModel #ref1="ngModel" required>
        <label *ngIf="ref1.invalid && ref1.touched">
          <div class="text-danger">*rollno is manadatory</div>
        </label>
      </div>
      <div class="form-group">
        <label for="">Name</label>
        <input type="text" name="name" class="form-control" ngModel #ref2="ngModel" required>
        <label *ngIf="ref2.invalid && (ref2.dirty || ref2.touched)">
          <div class="text-danger">*name is manadatory</div>
        </label>
      </div>
      <div class="form-group">
        <label>Class</label>
        <input type="text" name="class" class="form-control" class="form-control" ngModel #ref3="ngModel" required>
        <label *ngIf="ref3.invalid && (ref3.dirty || ref3.touched)">
          <div class="text-danger">*class is manadatory</div>
        </label>
      </div>
      <div class="form-group">
        <label>Gmail</label>
        <input type="email" name="gmail" class="form-control" class="form-control" ngModel #ref5="ngModel" required>
        <label *ngIf="ref5.invalid && (ref5.dirty || ref5.touched)">
          <div class="text-danger">*gmail is manadatory</div>
        </label>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input type="text" name="phone" class="form-control" class="form-control" ngModel #ref6="ngModel" required>
        <label *ngIf="ref6.invalid && (ref6.dirty || ref6.touched)">
          <div class="text-danger">*phone is manadatory</div>
        </label>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" ngModel class="form-control" ngModel #ref4="ngModel"
          required minlength="5">
        <div *ngIf="ref4.invalid && (ref4.dirty || ref4.touched)">
          <div *ngIf="ref4.errors.minlength" class="text-danger">*password must be atlest 5 characters long</div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Post</button></div>
    </form>
  </div>
  <div class="col-sm-3"></div>
</div>