<div class="container">
    <table class="table">
        <thead>
            <th>subject</th>
            <th>marks</th>
            <th>totalmarks</th>
            <th>grade</th>
        </thead>
        <tr *ngFor="let mark of marks">
            <td>{{mark.subject}}</td>
            <td>{{mark.marks}}</td>
            <td>{{mark.totalmarks}}</td>
            <td>{{mark.grade}}</td>
        </tr>
    </table>
</div>