<div class="card">
  <div class="card-header">
    <div id="demo" class="carousel slide mt-4" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="http://shikohabaddps.in/images/4.jpg" width="100%">
        </div>
        <div class="carousel-item">
          <img src="http://www.dpsbareilly.com/images/slider/DCMBBRR/a1.jpg" width="100%">
        </div>
        <div class="carousel-item">
          <img src="http://www.dpsbhopal.org/images/dpskolar.jpg" width="100%">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
  <div class="card-body">
    <h2 class="text-center text-primary">OUR CONCEPT</h2>
    <p>
      A school is an educational institution designed to provide learning spaces and learning environments for the
      teaching of students (or "pupils") under the direction of teachers. Most countries have systems of formal
      education, which is commonly compulsory.[citation needed] In these systems, students progress through a series of
      schools. The names for these schools vary by country (discussed in the Regional section below) but generally
      include primary school for young children and secondary school for teenagers who have completed primary education.
      An institution where higher education is taught, is commonly called a university college or university, but these
      higher education institutions are usually not compulsory.

      In addition to these core schools, students in a given country may also attend schools before and after primary
      (Elementary in the US) and secondary (Middle school in the US) education. Kindergarten or pre-school provide some
      schooling to very young children (typically ages 3–5). University, vocational school, college or seminary may be
      available after secondary school. A school may be dedicated to one particular field, such as a school of economics
      or a school of dance. Alternative schools may provide nontraditional curriculum and methods.

      There are also non-government schools, called private schools. Private schools [1] may be required when the
      government does not supply adequate, or special education. Other private schools can also be religious, such as
      Christian schools, madrasa, hawzas (Shi'a schools), yeshivas (Jewish schools), and others; or schools that have a
      higher standard of education or seek to foster other personal achievements. Schools for adults include
      institutions of corporate training, military education and training and business schools.

      In home schooling and online schools, teaching and learning take place outside a traditional school building.
      Schools are commonly organized in several different organizational models, including departmental, small learning
      communities, academies, integrated, and schools-within-a-school.

    </p>
  </div>

</div>