<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 class="text-center text-secondary">FORGOT PASSWORD</h3>
            <form #ref="ngForm" (ngSubmit)="password(ref.value)">
                <div class="form-group">
                    <label>Enter your id</label>
                    <input type="text" name="rollno" class="form-control" ngModel>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" type="submit">submit</button>
                </div>
            </form>
        </div>
    </div>
</div>