<table class="table">
    <thead class="text-center text-success">
        <th>
            <h3>Notifications</h3>
        </th>
    </thead>
    <tr *ngFor="let noti of note">
        <td>{{noti.notification}}</td>
    </tr>
</table>