<div class="container">
    <table class="table">
        <thead>
            <th>Month attendance</th>
            <th>Overall attendance</th>
        </thead>
        <tr *ngFor="let attendance of attend">
            <td>{{attendance.month}}</td>
            <td>{{attendance.overall}}</td>
        </tr>
    </table>
</div>