<div class="text-center mt-2"><input type="text" name="search" placeholder="search_by_rollnumber"
        [(ngModel)]="searchterm"></div>
<div class="container">

    <table class="table mt-2">
        <thead>
            <th>rollno</th>
            <th>name</th>
            <th>class</th>
            <th>phone</th>
        </thead>
        <tr *ngFor="let std of data | search:searchterm">
            <td>{{std.rollno}}</td>
            <td>{{std.name}}</td>
            <td>{{std.class}}</td>
            <td>{{std.phone}}</td>
            <button (click)="deleterecord(std.rollno)" class="btn btn-danger">delete</button>
        </tr>
    </table>
</div>