<table class="table">
    <thead>
        <th>totalfee</th>
        <th>feepaid</th>
        <th>feepending</th>
    </thead>
    <tr *ngFor="let fees of fee">
        <td>{{fees.totalfee}}</td>
        <td>{{fees.feepaid}}</td>
        <td>{{fees.pending}}</td>
    </tr>
</table>