<h3 class="text-center text-primary"><i>STUDENT PROFILE</i></h3>
<ul *ngFor="let value of profile" class="text-center">
    <li class="nav-link"><b>Rollnumber</b> :{{value.rollno}}</li>
    <li class="nav-link"><b>name</b> :{{value.name}}</li>
    <li class="nav-link"><b>class</b> :{{value.class}}</li>
    <li class="nav-link"><b>phone</b> :{{value.phone}}</li>
</ul>