<div class="container">
  <div class="row mt-5">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h1 class="text-center text-warning">LOGIN</h1>
      <form #ref="ngForm" (ngSubmit)="onSubmit(ref.value)">
        <div class="form-group">
          <label for="">Id :</label>
          <input type="text" name="rollno" class="form-control" ngModel #ref2="ngModel" required>
          <label *ngIf="ref2.invalid && (ref2.dirty || ref2.touched)">
            <div class="text-danger">*ID is manadatory</div>
          </label>
        </div>
        <div class="form-group">
          <label>Password :</label>
          <input type="password" name="password" class="form-control" ngModel #ref3="ngModel" required minlength="5">
          <div *ngIf="ref3.invalid && (ref3.dirty || ref3.touched)">
            <div *ngIf="ref3.errors.minlength" class="text-danger">*password must be atlest 5 characters long</div>
          </div>
        </div>
        <label *ngIf="ref1.invalid && (ref1.dirty || ref1.untouched)">
          <div class="text-danger">*user selection is manadatory</div>
        </label>
        <div class="form-check">
          <label for="m" class="form-check-label">
            <input type="radio" name="user" value="admin" id="m" class="form-check-label" ngModel #ref1="ngModel"
              required>
            Admin
          </label>
        </div>
        <div class="form-check">
          <label for="n" class="form-check-label">
            <input type="radio" name="user" value="student" id="n" class="form-check-label" ngModel #ref1="ngModel"
              required>
            Student
          </label>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Login</button></div>
        <div class="text-center"><a routerLink="/home/forgetpassword">forgot password?</a></div>
      </form>
    </div>
  </div>

</div>
<router-outlet></router-outlet>