<div class="container">
  <h3 class="text-danger">
    <marquee behavior="alternate"> Welcome To Student</marquee>
  </h3>
  <nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <a href="" class="navbar-brand">
      <img src="https://www.dpsrkp.net/images/dpsLogoMed.gif" width="40px" alt="">
    </a>
    <button data-toggle="collapse" data-target="#a" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="a">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="profile" class="nav-link text-dark">profile</a>
        </li>
        <li class="nav-item">
          <a routerLink="marks" class="nav-link text-dark">marks</a>
        </li>
        <li class="nav-item">
          <a routerLink="attendance" class="nav-link text-dark">attendance</a>
        </li>
        <li class="nav-item">
          <a routerLink="feestatus" class="nav-link text-dark">feestatus</a>
        </li>
        <li class="nav-item">
          <a routerLink="notifications" class="nav-link text-dark">notifications</a>
        </li>
        <li class="nav-item">
          <a routerLink="request" class="nav-link text-dark">request</a>
        </li>
        <li class="nav-item">
          <a routerLink="logout" class="nav-link text-dark">logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>