<div class="row mt-4">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <form #ref="ngForm" (ngSubmit)="sendnote(ref.value)">
            <div class="form-group">
                <input type="text" name="notification" ngModel class="form-control">
                <div class="text-center">
                    <button class="btn btn-success mt-3" type="submit">send</button></div>
            </div>
        </form>
    </div>
</div>