<div class="container">
  <nav class="navbar navbar-expand-sm bg-success navbar-light">
    <a href="" class="navbar-brand">
      <img src="https://www.dpsrkp.net/images/dpsLogoMed.gif" width="40px" alt="">
    </a>
    <button data-toggle="collapse" data-target="#a" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="a">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="homepage" class="nav-link text-dark">HOME</a>
        </li>
        <li class="nav-item">
          <a routerLink="login" class="nav-link text-dark">LOGIN</a>
        </li>

      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>