<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <form #ref="ngForm" (ngSubmit)="attendance(ref.value)">
      <div class="form-group">
        <label for="">Student rollnumber :</label>
        <input type="text" name="rollno" class="form-control" ngModel #ref1="ngModel" required>
        <label *ngIf="ref1.invalid && ref1.touched">
          <div class="text-danger">*rollnumber is manadatory</div>
        </label>
      </div>
      <div class="form-group">
        <label>Attendance for month :</label>
        <input type="text" name="month" class="form-control" ngModel #ref2="ngModel" required>
        <label *ngIf="ref2.invalid && ref2.touched">
          <div class="text-danger">*attendance is manadatory</div>
        </label>
      </div>
      <div class="form-group">
        <label>Overall attendance :</label>
        <input type="text" name="overall" class="form-control" ngModel #ref3="ngModel" required>
        <label *ngIf="ref3.invalid && ref3.touched">
          <div class="text-danger">*attendance is manadatory</div>
        </label>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Post</button></div>
    </form>


    <div *ngIf="b">
      <form #ref="ngForm" (ngSubmit)="onsubmit(ref.value)">
        <div>
          <label>Change rollnumber</label>
          <input type="text" name="rollno" class="form-control" [value]="objecttomodify.rollno"
            [(ngModel)]=objecttomodify.rollno>
        </div>
        <div>
          <label>Month attendance</label>
          <input type="text" name="month" class="form-control" [value]="objecttomodify.month"
            [(ngModel)]=objecttomodify.month>
        </div>
        <div>
          <label>Overall attendance</label>
          <input type="text" name="overall" class="form-control" [value]="objecttomodify.overall"
            [(ngModel)]=objecttomodify.overall>
        </div>
        <div class="text-center"><button type="submit" class="btn btn-primary mt-3">save</button></div>
      </form>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>

<div class="text-center mt-2"><input type="text" name="search" placeholder="search_by_rollnumber"
    [(ngModel)]="searchterm"></div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 table table-responsive">
    <table class="table mt-3">
      <thead>
        <th>Roll no</th>
        <th>Month attendance</th>
        <th>Overall attendance</th>

      </thead>
      <tr *ngFor="let attendance of attend | search:searchterm">
        <td>{{attendance.rollno}}</td>
        <td>{{attendance.month}}</td>
        <td>{{attendance.overall}}</td>
        <td><button (click)="deleterecord(attendance.rollno)" class="btn btn-danger">delete</button>
          <button (click)="editdata(attendance)" class="btn btn-success">edit</button></td>

      </tr>
    </table>
  </div>
</div>