<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 class="text-center text-secondary">OTP VERIFICATION</h3>
            <form #ref="ngForm" (ngSubmit)="otp(ref.value)">
                <div class="form-group">
                    <label>Enter otp</label>
                    <input type="number" name="OTP" class="form-control" ngModel>
                    <p class="text-danger">otp expires in 1 minute</p>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" type="submit">submit</button>
                </div>
            </form>
        </div>
    </div>
</div>